@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

input[type="text"],
button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 600px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
  position: relative;
}

.editModal {
  background-color: mediumaquamarine;
  display: flex;
  position: absolute;;
  width: 90%;
  height: 100px;
  border-radius:3px;
  z-index: 9999;
  top: 50%;  
  /* left: 50%;  */
  transform: translate( -50% + 2px, -50%);
}

.editContainer{
  display: flex;
  height: 70px;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
gap: 10px;
}

.input {
  background-color: #fff;
  outline: none;
}

.send {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

.send:focus,
.send:hover {
  filter: brightness(120%);
}


.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #333;
  border-radius: 10%;
  cursor: pointer;
}

.edit {
  background-color: #fff;
  color: mediumseagreen;
}

.edit:focus,
.edit:hover {
  filter: brightness(120%);
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
}

.trash:focus,
.trash:hover {
  filter: brightness(120%);
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus,
.submit:hover {
  background-color: limegreen;
}

.stroke {
  text-decoration: line-through;
}

#loading {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid limegreen;
  border-right-color: transparent;
  animation: rotate 0.5s infinite;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}

#animeLeft {
  opacity: 0;
  translate: -440px;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    translate: initial;
  }
}
